COMPANY_NAME="Cinqa Tech Solutions LLP"
COMPANY_GST="24AAWFC2925N1ZX"
COMPANY_PAN="AAWFC2925N"
COMPANY_TAN="SRTC05319G"
COMPANY_STATE="Gujarat"
COMPANY_STATE_CODE="24"
DEFAULT_SAC="998314"
DEFAULT_GST_RATE="0.18"
COMPANY_ADDRESS_LINE_1="47/107, Soham Park, Saraswat Nagar"
COMPANY_ADDRESS_LINE_2="Piplod, Surat - 395007, GJ(24)"
COMPANY_EMAIL="tarunchelumalla@cinqa.space"
COMPANY_WEBSITE="www.cinqa.space"
BANK_ACCOUNT_NAME="CINQA TECH SOLUTIONS LLP"
BANK_NAME="Axis Bank"
BANK_ACCOUNT_NUMBER="926020012433774"
BANK_BRANCH_NAME="Parle Point, Surat"
BANK_IFSC="UTIB0005112"
AUTHORIZED_SIGNATORY="Authorized Signatory"
PAYMENT_TERMS_DAYS="10"
N8N_HOST="n8nlocal.zoomroam.in"
N8N_PORT="5678"
N8N_PROTOCOL="https"
WEBHOOK_URL="https://n8nlocal.zoomroam.in"
N8N_EDITOR_BASE_URL="https://n8nlocal.zoomroam.in"
N8N_SECURE_COOKIE="false"
N8N_PROXY_HOPS="1"
N8N_BLOCK_ENV_ACCESS_IN_NODE="false"
NODE_FUNCTION_ALLOW_EXTERNAL="*"
GENERIC_TIMEZONE="Asia/Kolkata"
TIMEZONE="Asia/Kolkata"
N8N_BASE_URL="https://n8nlocal.zoomroam.in/workflow"
CREATE_INVOICE_WEBHOOK_URL="https://n8nlocal.zoomroam.in/webhook/create-invoice"
N8N_WEBHOOK_SECRET="replace-me"
APP_PORT="3010"
APP_AUTH_USERNAME="replace-me"
APP_AUTH_PASSWORD="replace-me"
APP_SESSION_SECRET="replace-me"
APP_SESSION_TTL_HOURS="12"
APP_COOKIE_SECURE="true"
APP_TRUST_PROXY="1"
AIRTABLE_API_TOKEN="replace-me"
AIRTABLE_BASE_ID="replace-me"
AIRTABLE_TABLE_CLIENTS="clients"
AIRTABLE_TABLE_INVOICES="invoices"
AIRTABLE_TABLE_LINE_ITEMS="invoice_line_items"
AIRTABLE_TABLE_SEQUENCES="invoice_sequences"
AIRTABLE_FIELD_CLIENT_LINK=""
AIRTABLE_FIELD_INVOICE_LINK=""
PDF_SERVICE_URL="http://host.docker.internal:3001"
GOOGLE_DRIVE_INVOICE_FOLDER_ID="replace-me"